* {
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}


.hero-image {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}


h1{
    text-align: center;
    color: #a11b09;
    margin: 20px;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px 2px 5px #2e302e;
    letter-spacing: 2px;
}

.navigation{
    text-align: center;
    font-size: 22px;
    display: flex;
    margin: 20px;
    
}
.navigation a{
    text-decoration: none;
    padding: 5px;
    margin-left: 70px;
    text-shadow: 2px 2px 5px #2e302e;
    color:antiquewhite;
}

#logo{
    height: 300px;
    width: auto;
    margin-left: 150px ;
    margin-bottom: -10px;
    margin-top: 3px;
}



#inicio:hover{
    color: #a11b09;
    text-decoration-line: underline;
}

#productos:hover{
    color: #090799;
    text-decoration-line: underline;
}

#nosotros:hover{
    color: #144514;
    text-decoration-line: underline;
}


.container{
    display: flex;
    
}


.container div{
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 60%;
    color: aliceblue;
}

.container div h2{
    margin-top: 50%;
}

.container div a {
    text-decoration: none;
    color: antiquewhite;
}



#accesorios, #varitas, #tazas, #merch{
    text-align: center;
    font-weight: 600; 
}

#accesorios{
    background-color: #a11b09;
    box-shadow: 3px 3px 5px #a11b09;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("source/pexels-rdne-stock-project-7978129.jpg");
    height: 200px;
    width: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#accesorios a:hover{
    color:#a11b09;
}

#varitas{
    background-color:#a7830ee3;
    box-shadow: 3px 3px 5px #a7830ee3;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("source/pexels-mikhail-nilov-8391465.jpg");
    height: 200px;
    width: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#varitas a:hover{
    color: #a7830e;
}

#tazas{
    background-color: #090799e3;
    box-shadow: 3px 3px 5px #090799e3;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("source/pexels-rdne-stock-project-7978248.jpg");
    height: 200px;
    width: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#tazas a:hover{
    color: #0906d6;
}

#merch{
    background-color:#144514;
    box-shadow: 3px 3px 5px #144514;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("source/pexels-vinícius-vieira-ft-3151954.jpg");
    height: 200px;
    width: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#merch a:hover{
    color: #144514;
}

section img{
    height: 200px;
    width: 145px;
    margin: 5px;
    padding: 3px;
}



  
#btn_up:hover {
    background-color: #555;
}


#btn_up {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 20px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color:#292796;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    scroll-behavior: smooth;
}


#btn_up:hover {
    background-color: #555;
}

footer{
    width: 100%;
    height:130px;
    background-color: #6d160a;
}

.navigation_footer{
    margin: 10px;
    padding: 5px;
}
.navigation_footer a{
    display: grid;
    margin: 10px;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
    text-shadow: 2px 2px 5px #2e302e;
}

#logo-footer{
  height: 150px;
  width: auto;
  margin-left: 45%;
  margin-top: -200px;
}



/*Imagenes de productos*/


  /* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin: 5px;
    padding: 5px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container1 {
    padding: 0 16px;
    
  }
  .container1 p{
    margin: 15px;
  }

  .container1 h2{
    color:#a11b09 ;
  }

  /* Clear floats */
  .container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 16px;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }


